#project-container{
    width:80%;
    margin-left: 10%;
}
.image-of-the-project{
    height: 200px;
    border: 1px solid;
    border-radius: 4px;
}
#project{
display: flex;
justify-content: center;
align-items: center;
padding: 20px;
}
#project-name{
    margin-left: 10%;
    color:rgb(231, 128, 10);
    text-shadow: 1px 1px 3px black;
}
.project-wrap-one-project-info-image{
    display: flex;
    flex: 1;
    margin-top: 40px;
    
}
.info-of-the-project{
    padding: 10px;
    margin-left: 25px;
    margin-top: -25px;
}
.code-of-the-project-git{
    height: 25px;
}
.info-of-the-project a{
 text-decoration: none;
 font-weight: bold;
 color: black;
 margin-right: 30px;
}
.para-of-the-info-the{
    color: gray;
    font-weight: bold;
}
.name-of-the-project{
    font-size: 20px;
    font-weight: bold;
    color:rgb(231, 128, 10);
}

@media only screen and (min-width: 200px) and (max-width:600px){
    .project-wrap-one-project-info-image{
        display: flex;
       flex-direction: column;
    }
    .name-of-the-project{
        position: absolute;
        margin-top: -200px;
    }
    .image-of-the-project{
        height: 150px;
        border: 1px solid;
        border-radius: 4px;
    }
    .para-of-the-instaclone-project{
        margin-top: 280px;
    }
    .instaclone-image-project{
        position: absolute;
        margin-top: 80px;
    }
    .name-of-the-project-instaclone{
        margin-top: 40px;
    }
    .whole-project-of-the-instaclone{
        margin-bottom: 20px;
    }
    .para-of-the-info-the{
        color: gray;
        font-weight: bold;
        text-align: left;
    }
}